[submodule "projects/calculus-visualizer"]
	path = projects/calculus-visualizer
	url = https://github.com/cjsoltermann/calculus-visualizer.git
[submodule "projects/mnist"]
	path = projects/mnist
	url = https://github.com/cjsoltermann/mnistTest.git
[submodule "projects/FlowerDemo"]
	path = projects/FlowerDemo
	url = https://github.com/cjsoltermann/FlowerDemo.git
